@font-face {
	font-family: "IconFont";
	font-display: swap;
	src: url("../fonts/IconFont.woff2") format("woff2"), url("../fonts/IconFont.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
