%ic {
	font-family: "IconFont";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*=".icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-arrow-mark:before {
  content: "\61";
}
.icon-logistic-carriers:before {
  content: "\62";
}
.icon-item-scroll-up:before {
  content: "\63";
}
.icon-header-mark:before {
  content: "\64";
}
.icon-contact-message-chate:before {
  content: "\65";
}
.icon-barrierltl:before {
  content: "\66";
}
.icon-checkmark:before {
  content: "\67";
}
.icon-circle-item:before {
  content: "\68";
}
.icon-social-github:before {
  content: "\69";
}
.icon-barrierflt:before {
  content: "\6a";
}
.icon-barrier-warehousing:before {
  content: "\6b";
}
.icon-barrier-expedited:before {
  content: "\6c";
}
.icon-barrier-drayage:before {
  content: "\6d";
}
.icon-barrier-cross:before {
  content: "\6e";
}
.icon-logistic-shippers:before {
  content: "\6f";
}
.icon-phone:before {
  content: "\70";
}
.icon-popup-close:before {
  content: "\71";
}
.icon-popup-eye:before {
  content: "\72";
}
.icon-popup-mail:before {
  content: "\73";
}
.icon-popup-person-add:before {
  content: "\74";
}
.icon-social-angellist:before {
  content: "\75";
}
.icon-social-dribbble:before {
  content: "\76";
}
.icon-social-fc:before {
  content: "\77";
}
.icon-social-in:before {
  content: "\78";
}
.icon-social-twitter:before {
  content: "\79";
}
.icon-social-youtube:before {
  content: "\7a";
}
.icon-truck:before {
  content: "\41";
}
.icon-zap-fast:before {
  content: "\42";
}
