//====================================================================================================

//====================================================================================================
// TODO BLOCK Journey in Numbers

//!BEM-Block
.indicators--speaking {
	background: $colorFonMiniSection;

	&:not(:last-child){
	margin-bottom: clamp(3.75rem, -2.1rem + 9vw, 6rem);//!96-60
	}
}

//!BEM-Block
.indicators {

	// .indicators__container
	&__container {
		padding-bottom: clamp(1.25rem, -11.1rem + 19vw, 6rem); //!96-20
		padding-top: clamp(3.75rem, -2.1rem + 9vw, 6rem);//!96-60

		padding-top: clamp(1.25rem, -11.1rem + 19vw, 6rem); //!96-20
	}

	// .indicators__desk-text
	&__desk-text{
		&:not(:last-child){
		margin-bottom: clamp(1.25rem, 0.464rem + 3.93vw, 4rem);//!64-20
		}
	}

	// .indicators__sub-caption
	&__sub-caption {
		@include tempaleFormatSubCaption(left, $fontSubOtherTitle, 600);

		&:not(:last-child){
		margin-bottom: toEm(12);
	}

	@media (max-width: toEm(997.98)) {
		text-align: center;
	}
}

	// .indicators__title
	&__title {
		@extend %tempaleFormatTitle;

		&:not(:last-child){
		margin-bottom: toRem(14);
		}

		@media (max-width: toEm(997.98)) {
			text-align: center;
		}
	}

	// .indicators__box-columns
	&__box-columns {
		display: flex;
		width: 100%;
		column-gap: toEm(64);

		@media (max-width: toEm(1039.98)){
			flex-direction: column;
			row-gap: toEm(20);
		}
	}

	// .indicators__values
	&__values {
		flex: 0 1 50%;
		align-self: center;

		display: flex;
		
		text-align: center;
		flex-wrap: wrap;
		height: 100%;

		@media (min-width: toEm(1040)){
			row-gap: clamp(1.875rem, -3.65rem + 8.5vw, 4rem);//!64-30
		}

		@media (max-width: toEm(630)){
			row-gap: toEm(20);
			}
	}

	// .indicators__poster
	&__poster {
		display: block;
		overflow: hidden;
		flex: 0 1 50%;
		aspect-ratio: 592/560;
	}
}

//!BEM-Block
.values-journey {

	// .values-journey__cell-value
	&__cell-value {
		flex: 0 1 50%;
		display: flex;
		flex-direction: column;
	}

// .values-journey__row
&__row{
	display: flex;
	column-gap: toEm(32);
	height: 100%;

	@media (max-width: toEm(630)){
		flex-direction: column;
		row-gap: toEm(20);
		}
	}
}

//!BEM-Block
.cell-value {

	// .cell-value__indicator
	&__indicator {
		color: $colorHoverButtonLink;
		text-align: center;
		font-size: clamp(2.25rem, 1.821rem + 2.14vw, 3.75rem); //!60-36
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: toEm(-1.2);

		&:not(:last-child){
		margin-bottom: toRem(22);
		}
	}

	// .cell-value__subtitle
	&__subtitle {

		color: $fontSubTitle;
		font-size: toRem(18);
		font-style: normal;
		font-weight: 600;
		line-height: 1.55;

		&:not(:last-child){
		margin-bottom: toEm(8);
		}
	}

	// .cell-value__paragraph
	&__paragraph {
		line-height: 1.5;

		& p:not(:last-child){
		margin-bottom: toEm(8);
		}
	}
}

//!BEM-Block
.poster {

	// .poster__image
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


// TODO Family Logistics

//!BEM-Block
.family-log--setup{
	text-align: justify;

	&:not(:last-child){
		margin-bottom: clamp(3.438rem, 2.705rem + 3.66vw, 6rem); //!96-55
	}
}

//!BEM-Block
.family-log {

	// .family-log__container
	&__container {
		display: flex;

		@media (min-width: toEm(998)){
			column-gap: toEm(64);
		}
		
		@media (max-width: toEm(997.98)){
			flex-direction: column;
		}
	}

	// .family-log__left-column
	&__left-column {

		@media (min-width: toEm(998)){
			flex: 0 1 50%;
		}
		
		&:not(:last-child){
			margin-bottom: clamp(1.25rem, 0.982rem + 1.34vw, 2.188rem); //!35-20
		}
	}

	// .family-log__sub-caption
	&__sub-caption {
		@include tempaleFormatSubCaption(left, $fontSubOtherTitle, 600);

		&:not(:last-child){
		margin-bottom: toEm(12);
		}
	}

	// .family-log__title
	&__title {
		@extend %tempaleFormatTitle;

		&:not(:last-child){
		margin-bottom: toEm(20);
		}
	}

	// .family-log__subparagraph
	&__subparagraph {
		font-size: toRem(20);
		line-height: 1.5;

		&:not(:last-child){
		padding-bottom: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);//!40-20
		border-bottom: toEm(1) solid $colorBorder;
		margin-bottom: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);//!40-20
		}
	}

	// .family-log__paragraph
	&__paragraph {
		font-size: toRem(18);
		line-height: 1.555;

		& p:not(:last-child){
		margin-bottom: clamp(1.25rem, 0.982rem + 1.34vw, 2.188rem); //!35-20
		}
	}

	// .family-log__right-column
	&__right-column {
		@media (min-width: toEm(998)){
			flex: 0 1 50%;
		}
	}
}
