//====================================================================================================

//====================================================================================================
.footer {
    background: $colorBackroudOtherSection;

		// .footer__container
		&__container {
      padding-top: toEm(10);
      padding-bottom: toEm(10);
		}

		// .footer__body
		&__body {
      min-height: toEm(128);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      column-gap: toRem(24);

      @media (max-width: toEm(589.98)){
        flex-direction: column;
    }
  }
}

.items {
		// .items__socials-icon
		&__socials-icon {
      font-family: $fontFamilyIcon;
      color: $ColorFoterFonItem;
      font-size: toRem(24);
      font-weight: 400;
      display: flex;
      column-gap: toRem(24);
		}

		// .items__comp-logo
		&__comp-logo {
      width: toEm(146);
      height: toEm(32);
		}

		// .items__rights
		&__rights {
      color: $ColorFoterFonItem;
      line-height: 1.5;
      flex-shrink: 0;
      font-size: clamp(0.938rem, 0.916rem + 0.11vw, 1rem); //!16-15
		}

      //.items__pic
      &__pic {
         transition: all .3s ease-in;
         @media (any-hover: hover) {
         cursor: pointer;
         &:hover {
            color: $colorArrow;
         }
      }
   }
}
