//!BEM Block
.header {

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $fontColorOther;

  // .header__container
  &__container {
    padding-top: toEm(10);
    padding-bottom: toEm(10);

    min-height: toEm(80);
    display: flex;
    align-items: center;
    column-gap: toEm(40);


    @media (max-width: $burgerMenu){
      min-height: toEm(50);
    }
  }

  // .header__link
  &__link {
    z-index: 5;
  }

  // .header__logo-company
  &_logo-company {
    flex-shrink: 0;
    z-index: 40;
    position: relative;

    height: toEm(32);
    width: toEm(145);
  }

  // .header__menu
  &__menu {
    flex-grow: 1;
    justify-content: flex-end;

    display: flex;

    align-items: center;

    column-gap: toEm(14);
  }
}

//!BEM Block
.menu {

   // .menu__body
  &__body {
    flex-grow: 1;

    font-weight: 600;
    line-height: 1.5;

   &::before{

    @media (max-width: ($burgerMenu)){
      position: fixed;
        content: "";
        top: 0;
        left: 100%;
        z-index: 4;
        width: 100%;
        background: $colorBorderItemLink
    }

    @media (min-width: toEm(520)) and (max-width: ($burgerMenu)){
        height: toEm(66);
      }
    }

    &::before{
      @media (max-width: toEm(519.98)){
        height: toEm(50);
        }
      }
  }

  // .menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: toEm(32);

    align-items: center;

    @media (max-width: $burgerMenu){
      row-gap: toRem(26);
    }
  }

  // .menu__item
  &__item {
    @media (any-hover: hover) {
    cursor: pointer;
    &:hover .menu__link{
      color: $colorHoverButtonLink;
      }
    }

    @media (any-hover: hover) {
      cursor: pointer;
      &:hover .menu__link--parent::after {
          transform: rotate(-90deg);
          color: $colorHoverButtonLink;
    }
      }

    @media (max-width: $burgerMenu){
      font-size: toRem(24);
    }
  }

  // .menu__item--mark
  &__item--mark{
    position: relative;

    display: flex;
    align-items: center;
    column-gap: toEm(8);

    @media (min-width: toEm(910)){
      @media (any-hover: hover) {
        &:hover .menu__submenu {
          transform: translate(0, 0);
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }
      }
    }
    
    @media (max-width: $burgerMenu){
      flex-direction: column;
      row-gap: toEm(26);
    }
  }

  // .menu__link
  &__link {

    transition: all 0.3s ease-in;
    position: relative;
  }

  //.menu__link--parent
  &__link--parent {
    position: relative;
    display: flex;
    column-gap: toEm(8);
    align-items: center;

   @media (min-width: toEm(910)){
    &::after{
      transition: all 0.35s ease-in;
      content: "\64";
      font-family: $fontFamilyIcon;
      font-size: toRem(18);
      font-weight: 500;
      }
    }
  }

   // .menu__submenu
   &__submenu {
    @media (min-width: toEm(910)){
      padding-top: toEm(20);
    }

    transition: all 0.45s ease-in-out;
   
    transform: translate(0, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media (max-width: $burgerMenu){
      position: relative;
      visibility: visible;
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  // .menu__header-btn
  &__header-btn {

    display: flex;
    column-gap: toEm(14);

    position: relative;
    z-index: 5;

    @media (max-width: toEm(519.98)){
    flex-direction: column;
    row-gap: toEm(24);
    width: 100%;
    }
  }

   // .menu__btn-access
   &__btn-access {
    position: relative;
    
    font-weight: 600;
    line-height: 1.5;
    padding: toEm(10) toEm(16);
   
    border-radius: toEm(8);
    border: toEm(1) solid $colorHoverButtonLink;
   
    min-width: toEm(126);
    

    @media (max-width: toEm(519.98)){
        background: $colorHoverButtonLink;
        color: $fontColorOther;
      }
    }

  // .menu__btn-access--login-in
  &__btn-access--login-in {
      position: relative;
      z-index: 4;
  
      transition: all .4s ease-in-out;
      overflow: hidden;
      
      &::before{
      transition: all .4s ease-in-out;
      
      background: $colorHoverButtonLink;
      content: "";
      z-index: -1;
      position: absolute;

      width: 100%;
      height: 0;

      transform: translate(-25%, -35%) rotate(-75deg);
    }

    @media (any-hover: hover) {
    cursor: pointer;
    &:hover{
      color: $fontColorOther;
    }

    &:hover::before{
      height: 390%;
        }
      }
  }

  // .menu__btn-access--get-quote
  &__btn-access--get-quote {
    position: relative; 
    
    transition: all .4s ease-in-out;
    overflow: hidden;
    &::before{
      
      transition: all .4s ease-in-out;
      
      background: $colorHoverButtonLink;
      content: "";
      z-index: -1;
      position: absolute;

      width: 100%;
      height: 0;

      transform: translate(-15%, -35%) rotate(-75deg);
    }

    @media (any-hover: hover) {
    cursor: pointer;
    &:hover{
      color: $fontColorOther;
    }

    &:hover::before{
      height: 310%;
      }
    }
  }
}

//!BEM Block
.submenu {
      z-index: 3;
      
      min-width: toEm(180);
      height: 100%;

    @media (min-width: toEm(910)){
      position: absolute;
      left: 0;
      top: toEm(20);
    }

    @media (max-width: $burgerMenu) {
      position: relative;
      text-align: center;
      pointer-events: all;
    }

  // .submenu__box
  &__box {

    @media (min-width: toEm(910)){
      border-radius: toEm(16);
    }

    border: toEm(2) solid $colorFonDashboard;
    background: $colorFonMiniSection;
    padding: toRem(15) 0;

    box-shadow: 0 toEm(20) toEm(24) toEm(-4) rgba(16, 24, 40, 0.08), 0 toEm(8) toEm(8) toEm(-4) rgba(16, 24, 40, 0.03);
  }

  // .submenu__item
  &__item {
    padding: toEm(7) toEm(12);
    transition: all .4s ease-in-out;

    &:not(:last-child){
      margin-bottom: toEm(5);
    }

    @media (any-hover: hover) {
    cursor: pointer;
    &:hover{
      color: $fontColorOther;
      background-color: $colorHoverButtonLink;
      width: 100%;
      }
    }
  }

  // .submenu__link
  &__link{
    width: 100%;
  }
}


