//====================================================================================================

//====================================================================================================
// TODO BLOCK Workflow
.worklow--setup {
	&:not(:last-child){
		margin-bottom: clamp(3.438rem, 2.705rem + 3.66vw, 6rem); //!96-55
	}
}

.worklow {

		// .worklow__container
		&__container {
			display: flex;
			flex-direction: column;
			align-items: center;
			
		}

		// .worklow__text-content
		&__text-content {
			max-width: toEm(768);
			text-align: center;
			align-items: center;
			display: flex;
			flex-direction: column;

			&:not(:last-child){
			margin-bottom: clamp(1.625rem, 0.946rem + 3.39vw, 4rem);//! 64-26
			}
		}

	// .worklow__subtitle
	&__subtitle {
		color: $fontColorButtonLinkLabel;
		text-align: center;
		font-size: toRem(14);
		font-weight: 500;
		line-height: 1.43;

		border-radius: toEm(8);
		border: toEm(1) solid $colorBorderItemLink;
		box-shadow: $colorShadowItem;

		padding: toEm(4) toEm(10);

		display: flex;
		align-items: center;
		column-gap: toEm(6);

		&:not(:last-child){
		margin-bottom: toEm(16);
		}

		&::before{
			content: "\68";
			font-family: $fontFamilyIcon;
			font-size: toRem(8);
			color: $colorArrow;
		}
	}

	// .worklow__title
	&__title {
		color: $fontSubTitle;
		text-align: center;
		font-size: toRem(36);
		font-weight: 600;
		line-height: 1.22;
		letter-spacing: toEm(-0.72);

		text-transform: capitalize;

		&:not(:last-child){
		margin-bottom: toRem(20);
		}
	}

	// .worklow__paragraph
	&__paragraph {
		text-align: center;
		font-size: clamp(1.125rem, 1.089rem + 0.18vw, 1.25rem); //!20-18;
		line-height: 1.5;

		&:not(:last-child){
			margin-bottom: toEm(64);
			}

		& p:not(:last-child){
			margin-bottom: toEm(10);
		}
	}

	// .worklow__dashboard
	&__dashboard {
		overflow: clip;
		display: block;
		max-width: toEm(768);
		width: 100%;

		border-radius: toEm(10);
		border: toEm(4) solid $fontSubTitle;
	}

	// .worklow__image
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// TODO BLOCK Meneger

.meneger--setup {
		&:not(:last-child){
			margin-bottom: clamp(3.438rem, 2.705rem + 3.66vw, 6rem); //!96-55
		}
}

.meneger {

	// .meneger__body
	&__body {
		background-color: $colorBackroudOtherSection;
		border-radius: toEm(16);
		padding: clamp(1.25rem, 0.464rem + 3.93vw, 4rem) clamp(0.938rem, 0.063rem + 4.38vw, 4rem); //!64-20, 64-15
		text-align: center;

		display: flex;
		flex-direction: column;
		align-items: center;
		color: $fontColorOther;
	}

	// .meneger__title
	&__title {
		
		font-size: clamp(2rem, 1.929rem + 0.36vw, 2.25rem); //!36-32
		font-weight: 500;
		line-height: 1.22;
		letter-spacing: toEm(-0.72);

		&:not(:last-child){
		margin-bottom: toEm(32, 36);
		}
	}

	// .meneger__img
	&__img {
			overflow: hidden;
			display: block;
			aspect-ratio: 56 / 56;
			border-radius: 50%;
			flex: 0 0 toEm(56);
			background-color: $colorBorderItemLink;

			&:not(:last-child){
				margin-bottom: toEm(16);
				}
	}

	// .meneger__icon
	&__icon {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// .meneger__subtitle
	&__subtitle {
		font-style: normal;
		font-weight: 600;
		line-height: 1.5;
		text-transform: capitalize;

		&:not(:last-child){
		margin-bottom: toEm(4);
		}
	}

	// .meneger__profession
	&__profession {

		color: $fontSubCaption;
		font-size: toRem(14);
		line-height: 1.43;

		&:not(:last-child){
		margin-bottom: toRem(16);
		}
	}
}

// TODO BLOCK Support
.support--setup{
	&:not(:last-child) {
		margin-bottom: clamp(3.438rem, 2.705rem + 3.66vw, 6rem); //!96-55;
	}

	@media (max-width: toEm(1049.98)){
		max-width: toEm(1246);
		margin: 0 auto;
		padding: 0 toEm(15);
	}
}

.support {

	// .support__body-text
	&__body-text {
		display: flex;
		flex-direction: column;
		text-align: center;

		max-width: toEm(768);
		margin: 0 auto;

		&:not(:last-child){
		margin-bottom: clamp(2.125rem, 1.018rem + 5.54vw, 6rem); //!96-34
		}
	}

	// .support__subtitle
	&__subtitle {
		@include tempaleFormatSubCaption (center, $fontSubOtherTitle, 600);

		&:not(:last-child){
		margin-bottom: toEm(12);
		}
	}

	// .support__title
	&__title {
		color: $fontSubTitle;
		font-size: toRem(36);
		font-weight: 600;
		line-height: 1.22;
		letter-spacing: toEm(-0.72);

		text-transform: capitalize;

		&:not(:last-child){
		margin-bottom: toRem(20);
		}
	}

	// .support__paragraph
	&__paragraph {
		font-size: clamp(1.125rem, 1.089rem + 0.18vw, 1.25rem); //!20-18
		line-height: 1.5;
			& p:not(:last-child){
			margin-bottom: toEm(10);
			}
		}
}

//!BEM-Block
.experience--setup{
	
	@media (min-width: toEm(1050)){
		&:not(:last-child){
			margin-bottom: toEm(122);
			}
	}

	@media (max-width: toEm(1049.98)){
		&:not(:last-child){
			margin-bottom: toEm(35);
	}

			row-gap: toEm(20);
	}
	
	@media (min-width: toEm(1050)){
	
		&:nth-child(2n + 3){
		flex-direction: row-reverse;
	}

	&:nth-child(2n + 3) .experience__block{
		justify-content: flex-end;
	}

	&:nth-child(2n + 3) .experience__poster{
		transform: translate(100%, 0);
	}

	&:nth-child(2n + 3) .experience__body{
		padding: 0 0 0 toEm(96);
		}
	}
}

.experience {
		display: flex;
		
		@media (max-width: toEm(1049.98)){
		flex-direction: column;
		align-items: center;
		}


	// .experience__content
	&__content {
		flex: 0 0 100%;
	}

	// .experience__block
	&__block {
		

		@media (min-width: toEm(1050)){
			max-width: toEm(1246);
			margin: 0 auto;
			padding: 0 toEm(15);

			display: flex;
			align-items: center;
			height: 100%;
		}
	}

	// .experience__body
	&__body {

		@media (min-width: toEm(1050)){
			width: 50%;
			padding: 0 toEm(96) 0 0;
		}
	}

	// .experience__poster
	&__poster {
		@media (min-width: toEm(1050)){
		position: relative;
		flex: 0 0 50%;

		padding-bottom: 37.888889%; //* 560/1440
		transform: translate(-100%, 0);
	}

		@media (max-width: toEm(1049.98)){
			overflow: hidden;
			display: block;
			max-width: toEm(938);
			width: 100%;
		}
	}

	// .experience__pic
	&__pic {

@media (min-width: toEm(1050)){
		max-width: 100%;
		position: absolute;
		left: 0;
		top: 0;
}

		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

//!BEM-Block
.box-card {

	// .box-card__cell-label
	&__cell-label {
		width: toEm(56);
		height: toEm(56);
		background-color: $colorBackFonLabel;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		position: relative;

		z-index: -2;

		&::after {
			position: absolute;
			content: "";
			left: 14%;
			top: 15%;
			width: toEm(40);
			height: toEm(40);
			background-color: $colorFonLabel;
			border-radius: 50%;
			z-index: -1;
		}

		&:not(:last-child){
		margin-bottom: toEm(24);
		}

		@media (max-width: toEm(1049.98)){
			margin: 0 auto;
		}
	}

	// .box-card__iconfont-large
	&__iconfont-large {
		font-family: $fontFamilyIcon;
		font-size: toRem(24);
		color: $colorHoverButtonLink;
	}

	// .box-card__title
	&__title {
		color: $fontSubTitle;
		font-size: clamp(1.75rem, 1.702rem + 0.24vw, 1.875rem); //!30-28 разрешение 1149.98-320
		font-weight: 600;
		line-height: 1.26;

		text-transform: capitalize;

		&:not(:last-child){
		margin-bottom: toEm(16);
		}

		@media (max-width: toEm(1049.98)){
			text-align: center;
		}
	}

	// .box-card__paragraph
	&__paragraph {
		font-size: toRem(18);
		line-height: 1.55;

		&:not(:last-child){
		margin-bottom: toEm(32);
		}

		& p:not(:last-child){
			margin-bottom: toEm(10);
		}

		@media (max-width: toEm(1049.98)){
			text-align: center;
			max-width: toEm(768);
		}
	}

	// .box-card__list
	&__list {
		font-size: toRem(18);
		line-height: 1.55;
	}

	// .box-card__item
	&__item {
		
		display: flex;
		column-gap: toEm(12);

		&::before{
			flex: 0 0 toEm(28);
			display: flex;
			align-items: center;
			justify-content: center;
			content: "\67";
			font-family: $fontFamilyIcon;
			font-size: toRem(12);
			color: $colorHoverButtonLink;
			background-color: $colorFonLabel;
			// width: 28px;
			height: toEm(28);
			border-radius: 50%;
		}

		&:not(:last-child){
			margin-bottom: toEm(20);
			}

	}
}


