@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================

@import url("https://fonts.googleapis.com/css?family=Inter:400,500,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:400&display=swap");


// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================

// Підключити, якщо є файл іконкового шрифту
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Inter";
$fontSize: toRem(16); // де 14(px) - розмір шрифту за замовчуванням з макету

$fontFamilyIcon: "IconFont";
$subFont:"Roboto";

// Основні кольори
$mainColor: #475467; // Колір шрифту за замовчуванням

$fontSubOtherTitle: #026AA2;
$fontColorOther: #FFFFFF;
$fontSubTitle: #101828;
$fontColorButtonLinkLabel: #344054;
$fontSubCaption: #B9E6FE;
$fonSubMimiCaption: #F5FBFF;
$fontFoterText: #7CD4FD;
$fontFieldForm: #667085;

$colorBorderItemLink: #D0D5DD;
$colorFonMiniSection: #F9FAFB;
$ColorFoterFonItem: #7CD4FD; 
$colorFonDashboard: #F2F4F7;
$colorFonLabel: #E0F2FE;
$colorBackFonLabel:#F0F9FF;
$colorArrow: #0BA5EC;
$colorBackroudOtherSection: #065986;
$colorHoverButtonLink: #0086c9;
$colorBorder: #EAECF0;

$colorBackroudHalfSection: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(6,89,134,1) 50%,rgba(6,89,134,1) 100%);

$colorShadowsQuestionBlock: 0 toEm(20) toEm(24) toEm(-4) rgba(16, 24, 40, 0.08), 0 toEm(8) toEm(8) toEm(-4) rgba(16, 24, 40, 0.03);

$colorShadowItem: 0 toEm(1) toEm(2) 0 rgba(16, 24, 40, 0.05);

$colorShadowFormLogin: 0 0 toEm(30) rgba(0, 0, 0, .5);

%tempaleFormatTitle{
	color: $fontSubTitle;
	font-size: clamp(1.75rem, 1.707rem + 0.22vw, 1.875rem);//!30-28
	font-weight: 600;
	line-height: 1.3;
	text-transform: capitalize;
}

%tempaleLabelForm{
			display: inline-flex;
			column-gap: toEm(12);
			align-items: center;
			cursor: pointer;
			
			&::before{
				align-self: flex-start;
				width: toEm(20);
				height: toEm(20);
				flex: 0 0 toEm(20);
				content: "";
				border-radius: toEm(6);
				border: toEm(1) solid $colorBorderItemLink;
			}
}

%tempaleFieldForm{
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 0;
			opacity: 0;
}

@mixin tempaleFormatSubCaption ($textAlignment: center, $textColorSubCapt: $fontSubCaption, $fontWeight: 600) {
	color: $textColorSubCapt;
	text-align: $textAlignment;
	font-weight: $fontWeight;
	line-height: 1.5;
	text-transform: capitalize;
}

@mixin tempaleLabelForm{
			color: $fontColorButtonLinkLabel;
			font-size: toRem(14);
			font-weight: 500;
			line-height: 1.43;

			display: flex;
			flex-direction: column;
			row-gap: toEm(6);
}

@mixin tempaleFieldForm ($heightField: toEm(44)){
			height: $heightField;
			border-radius: toEm(8);
			border: toEm(1) solid $colorBorderItemLink;
			background: $fontColorOther;
			box-shadow: $colorShadowItem;

			padding: toEm(10) toEm(14);

			line-height: 1.5;
			color: $fontFieldForm;

			outline: 0;

			&:focus {
				outline: toEm(3) solid $colorBackroudOtherSection;
			}

			&::placeholder {
				transition: opacity 0.45s;
			}
		
			&:focus::placeholder {
				opacity: 0;
			}
			
}

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1216;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$burgerMenu: toEm(909.98); //Поява бургер меню
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";
@import "about";
@import "shippers";
@import "contact";
